:root {
  --view-p-font-size: 1.1rem;
  --view-p-line-height: 100%;
}

html {
  overflow: 'hidden'
}

.move-right {
  margin-left: 200px !important;
}

.pointer {
  cursor: pointer;
}


#mdviewer  p, pre > code {
  font-size: var(--view-p-font-size);
  line-height: var(--view-p-line-height)
}

